* {
	margin: 0;
	padding: 0;
}

body {
background: #fff url(images/bg.jpg) repeat-x;
font-family: Tahoma, Arial, Helvetica, sans-serif;
font-size: 12px;
line-height: 20px;
color: #222;
}

a {
text-decoration: none;
color: #99AECD;
}
a:hover {
text-decoration: underline;
color: #4F5D7F;
}

#wrap {
margin: 0 auto;
width: 800px;
}

#header {
height: 110px
}
#header h1 { 
font-size: 50px;
letter-spacing: -5px;
padding: 27px 0 0 0;
color: #fff;
}
#header h1 a { 
color: #fff;
text-decoration: none;
font-weight: 600;
letter-spacing: -5px;
}
#header h1 a:hover {
color: #fff;
border-bottom: 1px dotted #fff;
}

.right {
float: right;
width: 600px;
text-align: justify;
padding-top: 5px;
}
.right h2 {
font-size: 18px;
font-weight: 100;
padding: 15px 0 7px 0;
}
.right h2 a {
text-decoration: none;
}
.right h2 a:hover {

}

.left {
float: left;
width: 200px;
padding-top: 10px;
font-size: 11px;
}

.left ul {
padding: 10px 0 15px 0;
list-style-type: none;
}
.left ul li a {
text-decoration: none;
font-weight: 600;
letter-spacing: 1px;
text-transform: uppercase;
}
.left ul li a:hover {

}

#footer {
text-align: center;
font-size: 11px;
color: #000;
margin-top: 40px;
background: #fff url(images/bg.jpg) repeat-x;
height: 30px;
padding-top: 10px;
}
#footer a { color: #000; }
#footer a:hover { color: #aaa; }



#line
       {
       	width : 400px;
       	min-height : 22px;
       float : left;
       margin-top : 12px;
       }


#lineexp
       {
       	width : 400px;
       	
       float : left;
       margin-top : 12px;
       }          
.liner  {
       float : right;
       width : 170px;
       text-align:left;
       padding-left:15px;
   }
.linel  {
	   float : left;
       width : 130px;
       text-align:right;
       padding-right:15px;
   }


table {
      width: 98%;
      margin-top: 15px;
      margin-bottom: 15px;
}

td {
      padding: 8px;
      border: 1px solid #CCCCCC;
}

th {
      padding: 8px;
      background-color: #585555;
      color: #FFFFFF;
}